@charset "UTF-8";
:root {
  --accent-color: #2196f3;
  --main-color-txt: #212121;
  --main-bg-color: #fff;
  --logo-black: #000000;
  --button-white-txt: #fff;
  --color-text: #757575;
  --text-textarea: rgba(117, 117, 117, 0.502);
  --button-bg-color: #f5f4fa;
  --team-bg: #f5f4fa;
  --hero-bg: #c4c4c4;
  --footer-bg: #2f303a;
  --header-border: #ececec;
  --works-border: #eeeeee;
  --button-active: #188ce8;
  --gradient-color-start: #2f303a66;
  --gradient-color-end: #2f303a66;
  --background-icon: #f5f4fa;
  --icon-fill: #afb1b8;
  --background-icon-footer: rgba(255, 255, 255, 0.1);
  --bg-position: rgba(47, 48, 58, 0.8);
  --footer-text: rgba(255, 255, 255, 0.6);
  --bg-example-works: rgba(33, 150, 243, 0.9);
  --bg-modal: #fff;
  --border-input: rgba(255, 255, 255, 0.3);
  --border-input-modal: rgba(33, 33, 33, 0.2);
  --time: 250ms;
  --bezier: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-color-txt);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul {
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid red;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |============================
  | LOGO
  |============================
*/
.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-family: "Raleway", sans-serif;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
}

/*Перша частина логотипу */
.logo__first {
  color: var(--accent-color);
}

/* Друга частина логотипу */
.logo__second {
  color: var(--logo-black);
}

/* Друга частина логотипу у футері */
.logo__second--white {
  color: #fff;
}

/**
  |============================
  | Header
  |============================
*/
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list {
  gap: 50px;
}

.nav {
  margin-left: 88px;
}
@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 92px;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__item:first-child {
    margin-bottom: 10px;
  }
}
.contacts {
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__cont {
  gap: 10px;
}

.contacts__cont {
  color: var(--color-text);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--bezier);
          transition-timing-function: var(--bezier);
}
@media screen and (min-width: 768px) {
  .contacts__cont {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__cont {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.contacts__icon {
  -ms-flex-item-align: center;
      align-self: center;
  fill: currentColor;
}

.nav__list .nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-color-txt);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--time) var(--bezier);
  transition: color var(--time) var(--bezier);
}

.nav__list .nav__link:hover,
.nav__list .nav__link:focus,
.contacts__cont:hover,
.contacts__cont:focus {
  color: var(--accent-color);
}

.nav__link.current {
  color: var(--accent-color);
}

.nav__item {
  position: relative;
  padding-left: 3px;
  padding-right: 3px;
}

.contacts__item {
  position: relative;
  padding-left: 3px;
  padding-right: 3px;
}

.nav__link.current::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background: var(--accent-color);
  -webkit-transition: width 500ms;
  transition: width 500ms;
}

.contacts__icon {
  fill: currentColor;
}

/* Сіренька смужечка під хедером */
header {
  border-bottom: 1px solid var(--header-border);
}

/**
  |============================
  | Hero
  |============================
*/
.hero {
  padding-bottom: 200px;
  padding-top: 200px;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(var(--gradient-color-start)), to(var(--gradient-color-end))), url(../images/Hero/img_m-@1x.jpg);
  background-image: linear-gradient(to right, var(--gradient-color-start), var(--gradient-color-end)), url(../images/Hero/img_m-@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--hero-bg);
}
@media screen and (max-width: 767.5px) {
  .hero {
    padding-bottom: 118px;
    padding-top: 118px;
    max-width: 480px;
    height: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    padding-bottom: 118px;
    padding-top: 118px;
    max-width: 768px;
    height: 400px;
    margin: 0 auto;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--gradient-color-start)), to(var(--gradient-color-end))), url(../images/Hero/img_m-@2x.jpg);
    background-image: linear-gradient(to right, var(--gradient-color-start), var(--gradient-color-end)), url(../images/Hero/img_m-@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--gradient-color-start)), to(var(--gradient-color-end))), url(../images/Hero/img_t-@1x.jpg);
    background-image: linear-gradient(to right, var(--gradient-color-start), var(--gradient-color-end)), url(../images/Hero/img_t-@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--gradient-color-start)), to(var(--gradient-color-end))), url(../images/Hero/img_t-@2x.jpg);
    background-image: linear-gradient(to right, var(--gradient-color-start), var(--gradient-color-end)), url(../images/Hero/img_t-@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--gradient-color-start)), to(var(--gradient-color-end))), url(../images/Hero/img_d-@1x.jpg);
    background-image: linear-gradient(to right, var(--gradient-color-start), var(--gradient-color-end)), url(../images/Hero/img_d-@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--gradient-color-start)), to(var(--gradient-color-end))), url(../images/Hero/img_d-@2x.jpg);
    background-image: linear-gradient(to right, var(--gradient-color-start), var(--gradient-color-end)), url(../images/Hero/img_d-@2x.jpg);
  }
}

/* Шрифт для h1 "Ефективні рішення" */
.hero__title {
  width: 696px;
  margin: 0 auto 30px auto;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 1199px) {
  .hero__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    width: 360px;
  }
}

/* Шрифт для КНОПКИ "Замовити послугу" */
.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
  min-width: 216px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  color: var(--button-white-txt);
  -webkit-transition: background-color var(--time) var(--bezier);
  transition: background-color var(--time) var(--bezier);
}
@media screen and (max-width: 1199.5px) {
  .hero__btn {
    min-width: 200px;
    padding: 10px 24px;
  }
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--button-active);
}

/**
  |============================
  | Skills
  |============================
*/
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.5px) {
  .skills__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
  .skills__list .skills__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .skills__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
}

.skills__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--button-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.skills__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}

.skills__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-weight: 400;
  line-height: 1.71;
  text-transform: none;
  color: var(--color-text);
}

/**
  |============================
  | What we do
  |============================
*/
@media screen and (max-width: 1199.5px) {
  .our-work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.our-work__item {
  position: relative;
}

.our-work__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--button-white-txt);
  background: var(--bg-position);
}

.our-work__subtitle {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/**
  |============================
  | Team
  |============================
*/
/* Колір фону для секції "Наша команда" */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team {
  background-color: var(--team-bg);
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.our-team__subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.person {
  padding: 30px 0;
}

.person__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.team__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.person__prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.person__prof {
  color: var(--color-text);
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--bezier);
          transition-timing-function: var(--bezier);
}

.person__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.person__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-fill);
  background-color: var(--main-bg-color);
  -webkit-transition: color var(--time) var(--bezier), background-color var(--time) var(--bezier);
  transition: color var(--time) var(--bezier), background-color var(--time) var(--bezier);
}
.person__link:hover, .person__link:focus {
  color: var(--button-white-txt);
  background-color: var(--accent-color);
}

.person__icon {
  fill: currentColor;
}

/**
  |============================
  | Постійні клієнти
  |============================
*/
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients {
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (max-width: 1199px) {
  .clients {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  color: var(--icon-fill);
  border: 1px solid var(--icon-fill);
  border-radius: 4px;
  -webkit-transition: color var(--time) var(--bezier), border-color var(--time) var(--bezier);
  transition: color var(--time) var(--bezier), border-color var(--time) var(--bezier);
}

.clients__link:focus,
.clients__link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}

/**
  |============================
  | Footer
  |============================
*/
.footer {
  padding: 60px 0;
  background-color: var(--footer-bg);
}

.address {
  font-style: normal;
}
@media screen and (max-width: 1199px) {
  .address {
    text-align: center;
  }
}

.address__item + .address__item {
  margin-top: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item + .address__item {
    margin-top: 9px;
  }
}

.address__link {
  color: var(--footer-text);
  -webkit-transition: color var(--time) var(--bezier);
  transition: color var(--time) var(--bezier);
}
.address__link:hover, .address__link:focus {
  color: var(--button-white-txt);
}

/* Тип шрифту у футері */
.address__list {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address__list {
    margin-bottom: 60px;
  }
}

.address__text {
  color: var(--button-white-txt);
}

@media screen and (min-width: 767px) {
  .footer__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (max-width: 1199px) {
  .join {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
  }
}

@media screen and (max-width: 767px) {
  .join__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.join__text,
.subscription__text {
  font-weight: 700;
  color: var(--button-white-txt);
  text-transform: uppercase;
}

.footer__logo,
.join__text,
.subscription__text {
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer__logo {
    text-align: center;
  }
}

/* Приєднуйтеся */
.subscription {
  margin-left: auto;
}
@media screen and (max-width: 1199px) {
  .subscription {
    margin-right: auto;
  }
}

@media screen and (max-width: 1199px) {
  .subscription__text {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscription__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--footer-text);
  border: 1px solid var(--border-input);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--footer-bg);
}
@media screen and (max-width: 767px) {
  .subscription__input {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription__input {
    margin-bottom: 20px;
    width: 450px;
  }
}

.input-subscr::-webkit-input-placeholder {
  color: var(--placeholder-footer);
}

.input-subscr::-moz-placeholder {
  color: var(--placeholder-footer);
}

.input-subscr:-ms-input-placeholder {
  color: var(--placeholder-footer);
}

.input-subscr::-ms-input-placeholder {
  color: var(--placeholder-footer);
}

.input-subscr::placeholder {
  color: var(--placeholder-footer);
}

.subscription__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  padding: 10px 28px;
  margin-left: 12px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--button-white-txt);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 1199px) {
  .subscription__btn {
    margin-left: 125px;
  }
}

.subscription__icon {
  margin-left: 10px;
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  color: var(--button-white-txt);
  border-radius: 50%;
  background-color: var(--background-icon-footer);
  -webkit-transition: background-color var(--time) var(--bezier);
  transition: background-color var(--time) var(--bezier);
}

.join__link:hover,
.join__link:focus {
  background-color: var(--accent-color);
}

.join__icon {
  fill: currentColor;
}

/**
  |============================
  | Modal window
  |============================
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--bezier);
  transition: opacity 250ms var(--bezier);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--bg-modal);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--time) var(--bezier);
  transition: -webkit-transform var(--time) var(--bezier);
  transition: transform var(--time) var(--bezier);
  transition: transform var(--time) var(--bezier), -webkit-transform var(--time) var(--bezier);
}

.btn-svg {
  position: absolute;
  right: 8px;
  top: 8px;
  border: none;
  background: var(--bg-modal);
}

.btn-black {
  opacity: 1;
  -webkit-transition: opacity var(--time) var(--bezier);
  transition: opacity var(--time) var(--bezier);
}

.btn-blue {
  opacity: 0;
  -webkit-transition: opacity var(--time) var(--bezier);
  transition: opacity var(--time) var(--bezier);
}

.btn-svg:hover .btn-blue,
.btn-svg:focus .btn-blue {
  opacity: 1;
}

.modal__text {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}

label {
  display: block;
}

.form__field {
  margin-bottom: 28px;
  position: relative;
}

.form__input,
.form__textarea {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 42px;
  outline: transparent;
  border: 1px solid var(--border-input-modal);
  border-radius: 4px;
  -webkit-transition: border-color var(--time) var(--bezier);
  transition: border-color var(--time) var(--bezier);
}

.form__comment {
  position: relative;
  margin-bottom: 20px;
}

.form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.form__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  gap: 8px;
  text-align: center;
}

.form__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  padding: 10px 52px;
  color: var(--button-white-txt);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.form__text {
  position: absolute;
  top: 35%;
  left: 42px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-text);
  -webkit-transition: color var(--time) var(--bezier);
  transition: color var(--time) var(--bezier);
  -webkit-transition: -webkit-transform var(--time) var(--bezier);
  transition: -webkit-transform var(--time) var(--bezier);
  transition: transform var(--time) var(--bezier);
  transition: transform var(--time) var(--bezier), -webkit-transform var(--time) var(--bezier);
}

.form__input:focus + .form__text {
  -webkit-transform: translateX(-42px) translateY(-240%);
          transform: translateX(-42px) translateY(-240%);
}

.form__input:not(:-moz-placeholder-shown) + .form__text {
  transform: translateX(-42px) translateY(-240%);
}

.form__input:not(:-ms-input-placeholder) + .form__text {
  transform: translateX(-42px) translateY(-240%);
}

.form__input:not(:placeholder-shown) + .form__text {
  -webkit-transform: translateX(-42px) translateY(-240%);
          transform: translateX(-42px) translateY(-240%);
}

.form__textarea-text {
  position: absolute;
  top: 14px;
  left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-text);
  -webkit-transition: color var(--time) var(--bezier);
  transition: color var(--time) var(--bezier);
  -webkit-transition: -webkit-transform var(--time) var(--bezier);
  transition: -webkit-transform var(--time) var(--bezier);
  transition: transform var(--time) var(--bezier);
  transition: transform var(--time) var(--bezier), -webkit-transform var(--time) var(--bezier);
}

.form__textarea:focus + .form__textarea-text {
  -webkit-transform: translateX(-16px) translateY(-240%);
          transform: translateX(-16px) translateY(-240%);
}

.form__textarea:not(:-moz-placeholder-shown) + .form__textarea-text {
  transform: translateX(-16px) translateY(-240%);
}

.form__textarea:not(:-ms-input-placeholder) + .form__textarea-text {
  transform: translateX(-16px) translateY(-240%);
}

.form__textarea:not(:placeholder-shown) + .form__textarea-text {
  -webkit-transform: translateX(-16px) translateY(-240%);
          transform: translateX(-16px) translateY(-240%);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--time) var(--bezier);
  transition: fill var(--time) var(--bezier);
}

.form__input::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity var(--time) var(--bezier);
  transition: opacity var(--time) var(--bezier);
}

.form__input::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity var(--time) var(--bezier);
  transition: opacity var(--time) var(--bezier);
}

.form__input:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity var(--time) var(--bezier);
  transition: opacity var(--time) var(--bezier);
}

.form__input::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity var(--time) var(--bezier);
  transition: opacity var(--time) var(--bezier);
}

.form__input::placeholder {
  opacity: 0;
  -webkit-transition: opacity var(--time) var(--bezier);
  transition: opacity var(--time) var(--bezier);
}

.form__input:focus::-webkit-input-placeholder {
  opacity: 1;
}

.form__input:focus::-moz-placeholder {
  opacity: 1;
}

.form__input:focus:-ms-input-placeholder {
  opacity: 1;
}

.form__input:focus::-ms-input-placeholder {
  opacity: 1;
}

.form__input:focus::placeholder {
  opacity: 1;
}

.form__textarea::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity var(--time) var(--bezier);
  transition: opacity var(--time) var(--bezier);
}

.form__textarea::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity var(--time) var(--bezier);
  transition: opacity var(--time) var(--bezier);
}

.form__textarea:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity var(--time) var(--bezier);
  transition: opacity var(--time) var(--bezier);
}

.form__textarea::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity var(--time) var(--bezier);
  transition: opacity var(--time) var(--bezier);
}

.form__textarea::placeholder {
  opacity: 0;
  -webkit-transition: opacity var(--time) var(--bezier);
  transition: opacity var(--time) var(--bezier);
}

.form__textarea:focus::-webkit-input-placeholder {
  opacity: 1;
}

.form__textarea:focus::-moz-placeholder {
  opacity: 1;
}

.form__textarea:focus:-ms-input-placeholder {
  opacity: 1;
}

.form__textarea:focus::-ms-input-placeholder {
  opacity: 1;
}

.form__textarea:focus::placeholder {
  opacity: 1;
}

.form__input::-webkit-input-placeholder, .form__comment::-webkit-input-placeholder {
  color: var(--text-textarea);
}

.form__input::-moz-placeholder, .form__comment::-moz-placeholder {
  color: var(--text-textarea);
}

.form__input:-ms-input-placeholder, .form__comment:-ms-input-placeholder {
  color: var(--text-textarea);
}

.form__input::-ms-input-placeholder, .form__comment::-ms-input-placeholder {
  color: var(--text-textarea);
}

.form__input::placeholder,
.form__comment::placeholder {
  color: var(--text-textarea);
}

.form__input:hover,
.form__input:focus,
.form__textarea:hover,
.form__textarea:focus {
  border-color: var(--accent-color);
}

.form__input:hover + .form__text,
.form__input:focus + .form__text,
.form__textarea:hover + .form__textarea-text,
.form__textarea:focus + .form__textarea-text {
  color: var(--accent-color);
}

.form__input:hover ~ .form__icon,
.form__input:focus ~ .form__icon {
  fill: var(--accent-color);
}

.form-link {
  color: var(--accent-color);
}

.form__check-input {
  text-align: center;
  margin-left: 9px;
}

.form__check-text {
  font-weight: 400;
  line-height: 1.71;
  color: var(--color-text);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form__icon-check {
  opacity: 0;
  -webkit-transition: opacity var(--time) var(--bezier);
  transition: opacity var(--time) var(--bezier);
}

.form__check-input:checked + .form__check-icons .form__icon-check {
  opacity: 1;
}

.form__icon-uncheck {
  opacity: 1;
  -webkit-transition: opacity var(--time) var(--bezier);
  transition: opacity var(--time) var(--bezier);
}

.form__check-input:checked + .form__check-icons .form__icon-uncheck {
  opacity: 0;
}

.form__check-input:focus + .form__check-icons {
  outline: 2px solid var(--logo-black);
  outline-offset: 1px;
  border-radius: 2px;
}

/**
  |============================
  | Buttons filter
  |============================
*/
.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
@media screen and (max-width: 767px) {
  .buttons {
    width: 326px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.buttons__item {
  color: var(--main-color-txt);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 4px;
}

/* Кнопка фільтру не активна */
.buttons__item.secondary {
  background-color: var(--button-bg-color);
  -webkit-transition: color var(--time) var(--bezier), background-color var(--time) var(--bezier), -webkit-box-shadow var(--time) var(--bezier);
  transition: color var(--time) var(--bezier), background-color var(--time) var(--bezier), -webkit-box-shadow var(--time) var(--bezier);
  transition: color var(--time) var(--bezier), background-color var(--time) var(--bezier), box-shadow var(--time) var(--bezier);
  transition: color var(--time) var(--bezier), background-color var(--time) var(--bezier), box-shadow var(--time) var(--bezier), -webkit-box-shadow var(--time) var(--bezier);
}

/* Зміна кольору кнопок */
.buttons__item.primery,
.buttons__item.secondary:hover,
.buttons__item.secondary:focus {
  color: var(--button-white-txt);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/**
  |============================
  | Приклади робіт
  |============================
*/
.examples {
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .examples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.examples__project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color-txt);
  margin-bottom: 4px;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .examples__project {
    font-weight: 700;
    font-size: 17px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
}

/* Розмір шрифту для прикладів дизайну у "Приклад робіт"  */
.examples__type {
  color: var(--color-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--bezier);
          transition-timing-function: var(--bezier);
}

.examples__item {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .examples__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .examples__item {
    width: 370px;
  }
}

.examples__card {
  display: block;
  position: relative;
  overflow: hidden;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--time);
          transition-duration: var(--time);
  -webkit-transition-timing-function: var(--bezier);
          transition-timing-function: var(--bezier);
}

.examples__card:hover,
.examples__card:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples__text-hidden {
  position: relative;
  overflow: hidden;
}

.examples__text {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: 24px 24px;
  left: 0;
  top: 0;
  width: 100%;
  height: 294px;
  background: var(--bg-example-works);
  color: var(--button-white-txt);
  font-size: 18px;
  line-height: 1.56;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--time) var(--bezier);
  transition: -webkit-transform var(--time) var(--bezier);
  transition: transform var(--time) var(--bezier);
  transition: transform var(--time) var(--bezier), -webkit-transform var(--time) var(--bezier);
}

.examples__card:hover .examples__text,
.examples__card:focus .examples__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.examples__work {
  padding: 20px 24px;
  border: 1px solid var(--works-border);
  border-top: none;
}/*# sourceMappingURL=main.css.map */