/**
  |============================
  | Постійні клієнти
  |============================
*/

.section {
  @include section;

  @media screen and (min-width: 1200px) {
    @include section(94px, 94px);
  }
}

.clients {
  @media screen and (max-width: 1199px) {
    @include fonts(700, 28px, 1.17, 0.03em);
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    @include fonts(700, 36px, 1.16, 0.03em);
  }

  margin-bottom: 50px;
  text-align: center;
  // font-weight: 700;
  // font-size: 36px;
  // line-height: 1.17;
}

.clients__list {
  @media screen and (max-width: 1200px) {
    flex-wrap: wrap;
  }
  display: flex;
  gap: 30px;
  justify-content: center;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  color: var(--icon-fill);
  border: 1px solid var(--icon-fill);
  border-radius: 4px;

  transition: color var(--time) var(--bezier),
    border-color var(--time) var(--bezier);
}

.clients__link:focus,
.clients__link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}
