/**
  |============================
  | Постійні клієнти
  |============================
*/

.clients {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.clients__list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  color: var(--icon-fill);
  border: 1px solid var(--icon-fill);
  border-radius: 4px;

  transition: color var(--time) var(--bezier),
    border-color var(--time) var(--bezier);
}

.clients__link:focus,
.clients__link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}
