/**
  |============================
  | Hero
  |============================
*/

.hero {
  @media screen and (max-width: 767.5px) {
    padding-bottom: 118px;
    padding-top: 118px;
    max-width: 480px;
    height: 400px;
    // margin: 0 auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 118px;
    padding-top: 118px;
    max-width: 768px;
    height: 400px;
    margin: 0 auto;
  }

  padding-bottom: 200px;
  padding-top: 200px;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;

  // Mobile screen

  background-image: linear-gradient(
      to right,
      var(--gradient-color-start),
      var(--gradient-color-end)
    ),
    url(../images/Hero/img_m-@1x.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        var(--gradient-color-start),
        var(--gradient-color-end)
      ),
      url(../images/Hero/img_m-@2x.jpg);
  }

  // Tablet screen

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        var(--gradient-color-start),
        var(--gradient-color-end)
      ),
      url(../images/Hero/img_t-@1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          var(--gradient-color-start),
          var(--gradient-color-end)
        ),
        url(../images/Hero/img_t-@2x.jpg);
    }
  }

  // Desctop screen

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(
        to right,
        var(--gradient-color-start),
        var(--gradient-color-end)
      ),
      url(../images/Hero/img_d-@1x.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          var(--gradient-color-start),
          var(--gradient-color-end)
        ),
        url(../images/Hero/img_d-@2x.jpg);
    }
  }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--hero-bg);
}

/* Шрифт для h1 "Ефективні рішення" */

.hero__title {
  @media screen and (max-width: 1199px) {
    @include fonts(900, 26px, 1.62, 0.06em);
    width: 360px;
  }

  width: 696px;
  margin: 0 auto 30px auto;

  color: #fff;
  text-transform: uppercase;
  text-align: center;

  @include fonts(900, 44px, 1.36, 0.06em);

  // font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;
  // letter-spacing: 0.06em;
}

/* Шрифт для КНОПКИ "Замовити послугу" */

.hero__btn {
  @media screen and (max-width: 1199.5px) {
    min-width: 200px;
    padding: 10px 24px;
  }

  display: flex;
  margin-left: auto;
  margin-right: auto;

  @include fonts(700, 16px, 1.88, 0.06em);

  // font-weight: 700;
  // font-size: 16px;
  // line-height: 1.88;
  // letter-spacing: 0.06em;

  font-family: inherit;
  cursor: pointer;

  min-width: 216px;
  align-items: center;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  background-color: var(--accent-color);
  color: var(--button-white-txt);

  transition: background-color var(--time) var(--bezier);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--button-active);
}
