/**
  |============================
  | LOGO
  |============================
*/

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/*Перша частина логотипу */

.logo__first {
  color: var(--accent-color);
}

/* Друга частина логотипу */

.logo__second {
  color: var(--logo-black);
}

/* Друга частина логотипу у футері */

.logo__second--white {
  color: #fff;
}
