/**
  |============================
  | Skills
  |============================
*/

.section {
  @include section;

  @media screen and (min-width: 1200px) {
    @include section(94px, 0);
  }
}

.skills__list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    display: flex;
    flex-wrap: wrap;

    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
  }
}

.skills__icon {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;

  background: var(--button-bg-color);
  border-radius: 4px;

  margin-bottom: 30px;
}

.skills__text {
  font-weight: 400;
  line-height: 1.71;
  // letter-spacing: 0.02em;
  text-transform: none;

  color: var(--color-text);
}

.skills__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}
