/**
  |============================
  | Skills
  |============================
*/

.section {
  @include section;

  @media screen and (min-width: 1200px) {
    @include section(94px, 0);
  }
}

.skills__list {
  @media screen and (min-width: 768px) and (max-width: 1199.5px) {
    .skills__item {
      width: 354px;
    }
    display: flex;
    flex-wrap: wrap;

    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
  }
}

.skills__icon {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;

  background: var(--button-bg-color);
  border-radius: 4px;

  margin-bottom: 30px;
}

.skills__title {
  @include fonts(700, 14px, 1.14);

  text-transform: uppercase;
  text-align: center;

  margin-bottom: 10px;
}

.skills__text {
  @include fonts(400, 14px, 1.71);
  font-weight: 400;
  line-height: 1.71;
  text-transform: none;

  color: var(--color-text);
}
