/**
  |============================
  | Team
  |============================
*/

/* Колір фону для секції "Наша команда" */

.team {
  background-color: var(--team-bg);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.our-team__subtitle {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.person {
  padding: 30px 0;
}

.person__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;

  margin-bottom: 10px;
}

.team__item {
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.person__prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 16px;

  text-align: center;
}

.person__prof {
  color: var(--color-text);

  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: var(--time);
  transition-timing-function: var(--bezier);
}

.person__socials {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.person__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: var(--icon-fill);

  background-color: var(--main-bg-color);

  transition: color var(--time) var(--bezier),
    background-color var(--time) var(--bezier);

  &:hover,
  &:focus {
    color: var(--button-white-txt);
    background-color: var(--accent-color);
  }
}

.person__icon {
  fill: currentColor;
}
